[MESSAGES CONTROL]
disable=too-many-ancestors,invalid-name,missing-function-docstring,too-many-statements,
        too-many-branches,too-many-locals,too-many-nested-blocks,missing-module-docstring,
        no-self-use
[FORMAT]
max-line-length=119
